<div class="comment-card" id="comments-card">
  <div class="card-meta"><time style="color: gray; font-size: 12px;"><%= comment.created_at.strftime("%b %e, %Y - %l:%M %p") %></time></div>
  <article class="card-content">
    <p><%= comment.content %></p>
  </article>
  <div class="card-user"> By <span class="card-username"><%= comment.user.username %>
  <% if policy(comment).destroy? %>
    <%= link_to comment_path(comment), method: :delete, data: { confirm: "Delete Post?" } do %>
      <i class="fas fa-trash trash-icon"></i>
    <% end %>
  <% end %></span>
  </div>
</div>
