body {
  background-color: #e6ecf0;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  background: #e6ecf0;
}

// Posts Section
.posts-container {
  display: flex;
  flex-direction: column;
  flex: 25%;
  height: calc(150vh - 60px);
}
.posts-inner-container{
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  margin-top: 0;
  padding-top: 0;
  color: #66757f;
}

// News Section
.news-container {
  display: flex;
  flex-direction: column;
  flex: 20%;
  height: calc(150vh - 60px);
}
.news-inner-container {
  min-height: 1500px;
  overflow-y: scroll;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  margin-top: 0;
  padding-top: 0;
  .btn:hover {
    opacity: 0.7;
    color: lightgray;
  }
}

.all-news-box{
  background-color:white;
  border: solid lightgray 1 1 1;
  box-shadow: 1px 1px 8px lightgray;
  margin-top:20px;
}

.all-posts {
  background-color:white;
  border: solid lightgray 1 1 1;
  box-shadow: 1px 1px 8px lightgray;
  margin-top:20px;

}

.all-price-boxes {
  background-color:white;
  border: solid lightgray 1 1 1;
  box-shadow: 1px 1px 8px lightgray;
  margin-top:20px;

}

.news-link {
  color: blue;
  font-size: 15px;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}


.news-header {
  color: #66757f;
}

// Middle Section

#news-main-box {
  min-height: 100vh;
  min-width:600px;
}


.all-news-container {
  display: flex;
  flex-direction: column;
  flex: 55%;
  min-height: calc(150vh - 60px);
}


.prices-container {
  display: flex;
  flex-direction: column;
  flex: 55%;
  min-height: calc(150vh - 60px);
}
.prices-inner-container {
  min-height: 1500px;
  border-radius: 2px;
  // margin: 10px;
  // padding: 10px;
}

.card-prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 25px;
  // border: solid 2px;
  border-radius: 5px;
}

.static-box {
  text-align:center;
  border-bottom: solid #F3F3F3;
  // box-shadow: 1px 1px 8px lightgray;
  // background-color: white;
  // margin-top: 60px;
  padding-bottom:20px;
  margin-bottom: 5px;
}

.cards-box {
  border-bottom: solid #F3F3F3;
  // box-shadow: 1px 1px 8px lightgray;
  // background-color: white;
  margin-bottom: 5px;
  margin-top: 20px;
  padding: 10px;
}

.list-box {
  border-bottom: solid #F3F3F3;
  // box-shadow: 1px 1px 8px lightgray;
  // background-color: white;
  margin-bottom: 5px;
  padding: 20px;
}

.widget-card {
  flex: 1;
  position: relative;
}


.row-prices {
  margin: 10px;
  border-bottom: solid 1px;
  border-color: gray;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}
.dashboard-container h1 {
  text-align: center;
  border-radius: 2px;
  margin: 2px;
  font-size: 30px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-style: light;
}
.coinmarketcap-currency-widget {
   margin: 5px;
   display: flex;
   justify-content: space-around;
   padding-bottom: 20px;
}
.coinmarketcap-currency-widget > div {
  min-width: 260px !important;
}
.static-fields h2{
  flex: 1;
  font-size: 17px;
  line-height: 25px;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: black;
}
.static-fields {
  display: flex;
  justify-content: space-between;
}
.tradingview-widget {
  margin-top: 50px;
}
td {
  padding: 15px;
}
#page-content {
  margin-top: 70px;
}
.favorite-btn {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 20px;
  color: #00aced;
}
.add-coin-button {
  margin-bottom: 20px;
}
.remove-button {
  position: absolute;
  color: #3676E8;
  top: 7px;
  right: 15px;
}
.crypto-card-container {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-grow: 33%;
}
  //TOP DASHBOARD BANNER
.bitcoin-logo{
  width: 180px;
  margin-bottom: 22px;
}
.globe-logo {
  width: 50px;
  margin-bottom: 15px;
  margin-top: -5px;
}
.static-box{
  margin-bottom: -10px;
}
#bitcoin-price {
  color: #0084b4;
  font-size: 27px;
  margin-left: 10px;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}
#marketcap {
  color: #0084b4;
  font-size: 27px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
}
#bitcoin-dominance {
  color: #0084b4;
  font-size: 20px;
}
#cryptocurrency-number {
  color: #0084b4;
  font-size: 20px;
}
#daily-volume {
  color: #0084b4;
  font-size: 20px;
}
#bitcoin-change{
  color: #0084b4;
  font-size: 20px;
}
.top-row {
  background-color: white;
  // background-color: gray;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -20px;
}
.bottom-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -5px;
  margin-bottom: -40px;
}
.recent-posts {
  color: black;
}

.container-for-search-box{
  display: flex;
  align-items: center;
  margin-bottom: -40px;
}

.search-box-bottom-box{
  display: flex;
  align-items: center;
}

.first-search-shrunk {
  margin-right: 10px;
}

.form-for-subscription {
  margin-right: 20px;
}
.bitcoin-container h2 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
.global-container h2 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-left: 70px;
  font-family: 'Roboto', sans-serif;
}
