body {
}

.dashboard-container {
  display: flex;
  flex-direction: row;
}

// Posts Section
.posts-container {
  display: flex;
  flex-direction: column;
  flex: 25%;
  min-height: calc(150vh - 60px);
}
.posts-inner-container{
  min-height: 1500px;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  margin-top: 0;
  padding-top: 0;
  color: gray;
}

#new_post {
  background-color: white;
  box-shadow: 1px 1px 8px lightgray;


}
// News Section
.news-container {
  display: flex;
  flex-direction: column;
  flex: 25%;
  min-height: calc(150vh - 60px);
}
.news-inner-container {
  min-height: 1500px;
  overflow-y: scroll;
  height: 100vh;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  margin-top: 0;
  padding-top: 0;
  .card:hover {
    opacity: 0.7;
  }
}

.news-link:hover {
  text-decoration: none;
}

.news-link {
  text-decoration: none;
}

.news-header {
  color: gray;
}

// Middle Section


.prices-container {
  display: flex;
  flex-direction: column;
  flex: 50%;
  min-height: calc(150vh - 60px);
}
.prices-inner-container {
  min-height: 1500px;
  border-radius: 2px;
  // margin: 10px;
  // padding: 10px;
}

.card-prices {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  // border: solid 2px;
  border-radius: 5px;
}

.static-box {
  box-shadow: 1px 1px 8px lightgray;
  background-color: white;
  margin-top: 60px;
  margin-bottom: 5px;
  padding: 20px;
}

.cards-box {
  box-shadow: 1px 1px 8px lightgray;
  background-color: white;
  margin-bottom: 5px;
  padding: 20px;
}

.list-box {
  box-shadow: 1px 1px 8px lightgray;
  background-color: white;
  margin-bottom: 5px;
  padding: 20px;
}

.widget-card {
  flex: 1;
  position: relative;
}


.row-prices {
  margin: 10px;
  border-bottom: solid 1px;
  border-color: gray;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}
.dashboard-container h1 {
  text-align: center;
  border-radius: 2px;
  margin: 2px;
  font-size: 30px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-style: light;
}
.coinmarketcap-currency-widget {
   margin: 10px;
   display: flex;
   justify-content: space-around;
}
.static-fields h2{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
  margin-right: 15px;
}
.static-fields {
  display: flex;
  justify-content: space-between;
}
.tradingview-widget {
  margin-top: 50px;
}
td {
  padding: 15px;
}
#page-content {
  margin-top: 70px;
}
.remove-button {
  margin-left: 248px;
  margin-bottom: -38px;
  color: #3676E8;
}
.favorite-btn {
  margin-bottom: 15px;
  color: #3676E8;
}
