
.wrapper-new-card{
  padding: 0px 0px 470px 0px;
}

.card-title-news{
  font-size: 40px;
}

.card.mb-3 {
  padding: 20px;
}

.header-news{
    justify-content: center;
    color: black;
    padding: 30px;
    padding-left: 500px;
    font-weight: bold;
}

.reddit-logo {
  width: 55px;
}
