.wrapper {
}

.form-container {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  font-family: "Raleway", "Helvetica", "sans-serif";  text-align: center;
  width: 300px;
  margin-left: -50px;

}

.form-container h2{
  font-family: "Open Sans", "Helvetica", "sans-serif";

}

.title-for-port {
    font-family: "Raleway", "Helvetica", "sans-serif";  text-align: center;
    padding: 50px 0px 40px 0px;
    line-height: 1.1;
    color: gray;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 30% 30% 40%;
}

.item-table {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;

}

.item-form {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  grid-row-start: 3;
  grid-row-end: 4;
}

.text-left {
    text-align: left;
    color: white;
    text-shadow: 2px 2px black;
    padding-left: 200px;
}


.text-center {
    text-align: center;
}

.fa-trash {
  color: lightgrey;
}

.item-table th{


}
.piepie{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 6;
  padding: 57px;
  margin-left: -10px;
  margin-top: 25px;
}

.item-form h2 {
  text-shadow: 2px 2px white;
  font-family: "Raleway", "Helvetica", "sans-serif";  text-align: center;

}

.item-table td {
    padding-left: 10px;

}

.item-table table {
  width: 800px;
  height: 150px;
  margin-bottom: 20px;
  margin-left: -50px;

}

.currency-name{
  font-weight: bold;
}

.first-row{
  background-color: #afafaf ;
  font-weight:bold;
  padding: 0px 0px 0px 10px;

}

.first-row h4{
  font-family: "Raleway", "Helvetica", "sans-serif";  text-align: center;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
}

.title-for-port h1{
    margin-top: 4px;
    color: white;
    text-shadow: 4px 4px black;
    margin-left: -900px;
}

.cajas-restantes {
  padding: 0px;
}
.total-sum{
  background-color:#c0cde0;
}

.btn-black input{
  padding: 10px;
  color: white;
  background-color: #231f20;
}

tr:nth-of-type(odd) {
  background-color:#f7f7f7;
}

.trash-bin{
  background-color: white;
}


.td.currency-name {
  padding: 0;
}

#cajas-de-zero-padding td{
  padding: 0;
}

.whole-container {
    background-color: white;
    width: 1050px;
    margin: 0px 50px 0px 200px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
      border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */  }

.this-table td{
      padding: 0px 0px 0px 10px;
}

.currency-name {
    padding: 0px 0px 0px 10px;

}

.form-container h2{
  font-family: "Raleway", "Helvetica", "sans-serif";  text-align: center;
  color: gray;
  text-align: center;
  font-weight: bold;
}
