
.post-box  {
  color: black;
  font-size: 50px;
  justify-content: center;
  padding: 20px;
  margin-left: -800px;
  padding-right: 300px;
  padding-top: 200px;

}

.simple_form.new_post {
  justify: center;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding: 20px;
}

.wrapper-for-post-page {
  height: calc(100vh - 140px)
}

.label-for-header{
font-family: "Open Sans", "Helvetica", "sans-serif";
}
