
.post-box  {
  color: black;
  font-size: 50px;
  justify-content: center;
  padding: 20px;
  margin-left: -800px;
  padding-right: 300px;
  padding-top: 200px;

}

.post-submit-button{
  size: 20px;
  background-color: black;
  color: white;
  padding: 10px;
}

.simple_form.new_post {
  justify: center;
    font-family: "Open Sans", "Helvetica", "sans-serif";

}

.wrapper-for-post{
  padding-bottom: 860px;


}

.label-for-header{
font-family: "Open Sans", "Helvetica", "sans-serif";
}
