.user-show-container {
  display: flex;
  flex-direction: column;
}

.user-show-container-profile {
  display: flex;
  flex-direction: column;
  flex: 50%
}



.user-show-container-tabs {
  display: flex;
  flex-direction: column;
  flex: 50%
}

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
