<span>
  <% if current_user.following?(@user) %>
  <%= button_to "Following", {action: 'unfollow', id: @user.id}, method: 'post',
  class: 'unfollow-button', remote: true %>
  <% elsif current_user != @user %>
  <%= button_to 'Follow', {action: 'follow', id: @user.id}, method: 'post',
  class: 'follow-button', remote: true %>
  <% end %>
</span>
