<h2 class="text-center">Following</h2>
<div class="follow-container">
<% @user.following_users.each do |following| %>
  <%= link_to user_path(@user) do %>
  <div class="follow-profile-card">
    <%= cl_image_tag(following.photo, :transformation=>[
        {:effect=>"cartoonify"},
        {:effect=>"outline:100", :color=>"white"},
        {:background=>"white"},
        {:width=>50, :height=>50, :radius=>"max", :crop=>"scale"}
        ], class: 'follow-avatar') %>
    <div class="follow-info">
      <div class="follow-username">
          <%= following.username %>
      </div>
      <div class="follow-email">
        <%= following.email %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
</div>
