<div class="dashboard-container">
  <div class="news-container">
    <div class="news-inner-container">
    </div>
  </div>
  <div class="prices-container">
    <div class="prices-inner-container">
      <div class="top-half">
        <div class="prices">

        </div>
        <div class="card-container">
          <div class="row">
            <div class="col-sm-4">
              <div class="coinmarketcap-currency-widget" data-currency="bitcoin" data-base="USD" ></div>
            </div>
            <div class="col-sm-4">
              <div class="coinmarketcap-currency-widget" data-currency="ethereum" data-base="USD" ></div>
            </div>
            <div class="col-sm-4">
              <div class="coinmarketcap-currency-widget" data-currency="eos" data-base="USD" ></div>
            </div>
            <div class="col-sm-4">
              <div class="coinmarketcap-currency-widget" data-currency="stellar" data-base="USD" ></div>
            </div>
            <div class="col-sm-4">
              <div class="coinmarketcap-currency-widget" data-currency="vechain" data-base="USD" ></div>
            </div>
            <div class="col-sm-4">
              <div class="coinmarketcap-currency-widget" data-currency="cardano" data-base="USD" ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="posts-container">
    <div class="posts-inner-container">
      <h1>Recent Posts</h1>
      <%= render 'posts/index', posts: @posts %>
    </div>
  </div>
</div>
