
<div class="dashboard-container">
  <div class="news-container">
    <div class="news-inner-container">
      <h1></h1>
    </div>
  </div>
  <div class="prices-container">
    <div class="prices-inner-container">
      <h1></h1>
    </div>
  </div>
  <div class="posts-container">
    <div class="posts-inner-container">
      <h1></h1>
    </div>
  </div>
</div>
