<%= simple_form_for(post, remote: true) do |f| %>
  <div class="post-title-form"> <%= f.input :content, label: false%></div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
<button type="button" style="display: none", class="btn btn-dark" id="back_to_dashboard">Back to dashboard</button>
<!-- class: 'post-submit-button' -->
