<%= simple_form_for(post, remote: true) do |f| %>
  <div class="post-title-form"> <%= f.input :content, label: false %></div>
  <div class="post-form-submit">
    <%= f.submit 'Submit', class: 'btn btn-primary btn-submit-post' %>
  </div>
<% end %>
<button type="button" style="display: none", class="btn btn-back-dashboard" id="back_to_dashboard">Back to dashboard</button>
