<%= simple_form_for(post, remote: true) do |f| %>
  <div class="post-title-form"> <%= f.input :content, label: false%></div>
  <%= f.submit 'Submit your post', class: 'btn btn-primary' %>
<% end %>
<!-- class: 'post-submit-button' -->