.btn {
  font-size: 14px;
  border-radius: 20px;
}

.btn-primary {
  background-color: #00aced;
  border: none;
  &:hover {
    background-color: #00aced;
  }
}

.btn-back-dashboard {
  background-color: white;
  border: 1px, solid, #1da1f2;
  &:hover {
    background-color: #1da1f2;
  }
}

.prices-back-right {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

.prices-back-left {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}
