/* Main navbar */
.navbar-wagon {
  -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #CCCCCC;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  flex-grow: 1;
}

/* Logo */
.navbar-wagon-brand {
  color: black;
  img {
    height: 50px;
  }
  &:hover {
    color: #A9927D;
    text-decoration: none;
  }
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  position: absolute;
  right: 0;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: black;
  font-weight: bold;
  font-size: 18px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  border-right: solid black;
  border-width: thin;
}

.navbar-wagon-link:hover {
  color: #A9927D;
  text-decoration: none;
}
/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 20px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.navbar-name{
  font-size: 20px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  color: black;
  margin-right: 20px;
  margin-left: 30px;
}
// .portfolio {
//   font-size: 20px;
//   font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
//   margin-right: 20px;


// }
// .posts {
//   font-size: 20px;
//   font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
//   margin-right: 20px;

// }


