.card {
  background-color: #fff;
  margin-bottom: 3px;
  position: relative;
  padding: 3px;
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.card-meta {
  font-size: 12px;
  color: #bbb
}

.card-content {
}

.card-user {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: gray;
  .card-username {
    color: black;
  }
}

