.card {
  background-color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  padding: 3px;
  color: black;
  border-radius: 3px;
}

.post-card-header {
  font-size: 12px;
  color: #bbb
}


.card-user {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: gray;
  .card-username {
    color: black;
  }
}

.trash-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.home_post_comment {
  display: none;
}

.comment-button {
  font-size: 12px;
  border: none;
  background: none;
  &:hover {
    color: gray;
  }
}

.view-all-posts {
  position: absolute;
  text-align: center;
}

// .comment-submit-button {
//   background-color:
//   font-size: 14px;
//   border: solid;
//   background: none;
//   &:hover {
//     color: gray;
//   }
// }

.view-comments-link {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: gray;
  }
}

.user-posts-wrapper {
  height: calc(100vh - 140px)
}

.post-show-card-top {
  background-color: white;
  padding: 5px;
  color: black;
  flex-grow: 1;
}

.post-show {
  display: flex;
  margin-top: 30px;
}

.home-post-show-first {
  border-top: .0625rem solid #e5e5e5;
  transition: .25s ease-in-out;
  background-color: white;
}

.home-post-show-second{
  min-height: 100px;
}

.home-post-show-third {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 3px;
  border-radius: 3px;
}

.home-post-card {
  background-color: white;
  color: black;
  flex-grow: 1;
}

.user-profile-link-container {
  display: inline-block;
  width: auto;
  height: auto;
}

.user-profile-link {
  color: black;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

.post-created-at {
  color: #929292;
  float: right;
  font-size: 12px;
  text-decoration: none;
}

.post-card-content {
  font-size: 18px;
  margin: .25rem 0 0;
}

.post-card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.post-card-footer-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 0px;
  padding: 10px 0px 0px;
}


.post-comment-count {
  color: gray;
}
