.vote-card {
  position: relative;
  padding: 7px;
  background-color: white;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upvote-icon-link {
  text-align: center;
}

.upvote-icon {
  color: #66757f;
  &:hover {
    color: #0996d0;
  }
}

.downvote-icon-link {
  text-align: center;
}

.downvote-icon {
  color: #66757f;
  &:hover {
    color: #0996d0;
  }
}

.vote-weighted {
  text-align: center;
}

.vote-buttons-container {
  display: flex;
  flex-direction: column;
}
