.vote-card {
  position: relative;
  background-color: white;
  margin-right: 5px;
}

.upvote-icon {
  color: black;
  &:hover {
    color: gray;
  }
}

.downvote-icon {
  color: black;
  &:hover {
    color: gray;
  }
}

.vote-weighted {
  text-align: center;
}
