.vote-card {
  position: relative;
  background-color: white;
  margin-right: 5px;
}

.upvote-icon {
  color: #66757f;
  &:hover {
    color: #0996d0;
  }
}

.downvote-icon {
  color: #66757f;
  &:hover {
    color: #0996d0;
  }
}

.vote-weighted {
  text-align: center;
}
